In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/workspaces/mini_project_2/data/uk_pisa_2022.csv')

In [4]:
df.head()

,CNT,CNTRYID,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,REGION,OECD,...,PV3MPRE,PV4MPRE,PV5MPRE,PV6MPRE,PV7MPRE,PV8MPRE,PV9MPRE,PV10MPRE,SENWT,VER_DAT
0,GBR,826.0,82600226.0,82600003.0,08MS,82700,QUK28,8260000,82613.0,1.0,...,686.025,615.895,664.214,667.991,704.905,616.130,605.506,676.551,0.03247,02MAY23:12:46:01
1,GBR,826.0,82600194.0,82600004.0,08MS,82700,QUK23,8260000,82612.0,1.0,...,441.332,473.910,347.670,428.332,420.134,495.066,497.044,274.946,0.05598,02MAY23:12:46:01
2,GBR,826.0,82600141.0,82600005.0,08MS,82700,QUK03,8260000,82611.0,1.0,...,600.602,670.848,639.127,616.968,565.478,572.676,620.092,606.032,0.92605,02MAY23:12:45:59
3,GBR,826.0,82600286.0,82600006.0,08MS,82700,QUK11,8260000,82611.0,1.0,...,371.630,364.896,374.076,304.060,392.804,378.132,323.890,382.977,0.57354,02MAY23:12:46:00
4,GBR,826.0,82600293.0,82600007.0,08MS,82700,QUK04,8260000,82611.0,1.0,...,506.949,488.258,433.709,475.040,458.928,417.555,507.758,433.403,0.75153,02MAY23:12:46:00

In [5]:
df.shape

(12972, 1278)